@mixin blade-padding {
    padding: 25px 0;
  
    @media (min-width: 768px) {
        padding: 50px 0;
    }
}

#index-hero-section {
    @include blade-padding;
}


.intro-wrapper {
    background: #1c1c1c;
    color: white;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}