{{ define "main" }}

<section id="index-hero-section">
  <div class="site-container-1340">
    <div class="row">
      <div class="col-12 text-center">
        <h1>The Bitcoin Signal</h1>
        <h5>A bitcoin signal for you tune into</h5>
      </div>
    </div>
  </div>
</section>


<section id="index-newest-issues-section">
  <div class="site-container-1340">
    <div class="row">
      <div class="col-12"></div>
    </div>
  </div>
</section>

<section id="index-random-article-section">
  <div class="site-container-1340">
    <div class="row text-center">
      <div class="col-12 ">
        <h3>Check out more articles</h3>
      </div>
    </div>




    <div class="row justify-content-between gap-4">
    {{ $events := where .Site.RegularPages "Type" "articles" }}
    {{ $firstThree := first 3 $events }}
    {{ range $event := $firstThree }}
    {{ $event := . }}

    <div class="col-12 col-lg">
      <div class="article-card">
        <a href="{{ $event.Permalink }}">
          <div class="image">
            <img src="{{$event.Params.image }}" alt="{{$event.Params.alt }}" class="w-100">
          </div>
          <div class="content">
            <p class="small">{{$event.Params.date | time.Format "June, 2, 2006" }}</p>
            <h4 class="title">{{$event.Params.title }}</h4>
            <p>{{$event.Params.description }}</p>
          </div>
          <span class="sr-only"> link to the next great article</span>
        </a>
      </div>
    </div>


    {{ end }}
    </div>
  </div>
</section>

{{ end }}
